fastapi
uvicorn[standard]
opencv-python
pytest
httpx
pytest-mock
python-dotenv
pydantic-settings
rich
asgi-correlation-id 
python-json-logger
logtail-python
python-jose
python-multipart
passlib[bcrypt]
pytest-mock
aiofiles
b2sdk
pyfakefs 
sqlalchemy
databases[aiosqlite]
pytest
httpx
oracledb
fastapi-pagination
argon2_cffi
FastApi-Mail
psycopg2
databases[asyncpg]